body {
    padding: 10px;
    font-family: sans-serif;
}

.container {
    padding: 6px;
}


a {
    color: darkslateblue;
}

a:hover {
    color: slateblue;
}

/* ---------------------------------------- */
/* ------------    TopNav   -------------- */
/* ---------------------------------------- */
#vango-link, #edit-link, #itinerary-link, #login-link {
    color: darkslateblue;
}

#vango-link:hover, #edit-link:hover, #itinerary-link:hover, #login-link:hover {
    color: slateblue;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    color: darkslateblue;
    text-align: center;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    float: left;
}

.nav-link:hover {
    color: slateblue;
}

/* ---------------------------------------- */
/* ------------    SideNav   -------------- */
/* ---------------------------------------- */
.sidenav {
    width: 100%;
    position: relative;
    left: 10px;
    background: #eee;
    min-width: 300px;
    min-height: 89vh;
    /*padding: 8px 0;*/
}

.sidenav .ui.header:first-child {
    margin-top: -0.05em;
    margin-bottom: -0.05em;
}

.sidenav h2{
    text-align: center;
}


/* ---------------------------------------- */
/* ------------  DatePicker  -------------- */
/* ---------------------------------------- */
.DatePickerContainer{
    max-width: 100%;
}




/* ---------------------------------------- */
/* ------------    Toggle    -------------- */
/* ---------------------------------------- */
.checkbox {
    margin: 2px 0;
}

.ui.toggle.checkbox label {
    padding-left: 3.8rem;
}



/* ---------------------------------------- */
/* ------------     Form     -------------- */
/* ---------------------------------------- */
/* TODO: This code does not work...*/
.form-item {
    margin-bottom: 1rem;
}

/* ---------------------------------------- */
/* -------------Circle Button-------------- */
/* ---------------------------------------- */

.circle-button {
    background-color: darkslateblue;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: right;
    margin-right: -17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
}

.circle-button:hover {
    background-color: slateblue;
}

.circle-button:focus {
    background-color: slateblue;
    box-shadow: 0 0 0 2pt lightblue;
    outline: none;
}


/* ---------------------------------------- */
/* ---------------  Home Page ------------- */
/* ---------------------------------------- */
#searchInputContainer { /*TODO: This doesn't work*/
    margin-bottom: 17px;
    width: 100%;
}

.react-calendar__tile.react-calendar__month-view__days__day {
    font-size: 14px;
    padding: 7px;
}

.react-calendar__navigation > button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__label {
    margin: 0px !important;
    min-width: 26px !important; 
    padding: 0px !important;
}

.react-calendar__navigation {
    margin-bottom: 0px !important;
}



.filter-margin, #filter-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------- */
/* -----------  Edit: Side Panel ---------- */
/* ---------------------------------------- */
.edit-panel, .home-panel {
    margin-top: 24px;
    margin-left: 24px;
}

/* ---------------------------------------- */
/* --------  Itinerary: Side Panel -------- */
/* ---------------------------------------- */
.it-panel {
    border-right: 2px solid darkslateblue;
    width: 79%;
}

.it-panel-bkgd {
    background: #eee;
}

.it-date-circ {
    position: initial;
    height: 5rem;
}

.it-date {
    position: relative;
    top: 35%;
    left: 19%;
    height: 5rem;
    font-size: 18px;
}

/* ---------------------------------------- */
/* ------  Itinerary: Event Section ------- */
/* ---------------------------------------- */
#it-list {
    display: inline-block;
    margin-left: 36px;
}

#it-date-toggle {
    display: inline-block;
    margin-top: 20px;
}

#itinerary-name {
    display: inline-block;
    margin-top: 24px;
    margin-left: 24px;
    vertical-align: bottom;
}

.event-block {
    margin-bottom: 2rem;
}

#event-name {
    font-weight: bold;
    font-size: 20px;
}

.event-detail {
    font-size: 16px;
    line-height: 2em;
}

/* ---------------------------------------- */
/* ---------    DraggableItems ------------ */
/* ---------------------------------------- */
.DraggableItems ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.DraggableItems ul li {
    /*background-color: rgba(96, 96, 96, 0);*/
    padding: 5px 15px;
    position: relative;
    display: flex;
    align-items: flex-start;
    line-height: 1;
}

.DraggableItems li .drag {
    margin-right: 15px;
    cursor: move;
}

.DraggableItems li .dragBtn {
    height: 4rem;
    margin-right: 10px;
    color: #0c0c0c;
}

/*font size of the draggable item*/
.ui.label.DraggableItem{
    font-size: 1.1rem;
}


/* ---------------------------------------- */
/* ----  Login, Registration Block -------- */
/* ---------------------------------------- */
#login-block, #register-block {
    margin-top: 3%;
    padding: 20px;
}

.form-section {
    margin-bottom: 13px;
}

.outer {
    width: 100%;
}

.inner {
    display: table;
    margin: 0 auto;
}
/* ---------------------------------------- */
/* ----        Event Drawer        -------- */
/* ---------------------------------------- */
.trash.icon:active {
    transform: translateY(2px);
}


/* ---------------------------------------- */
/* ----    EventFilterContainer    -------- */
/* ---------------------------------------- */
.EventFilterContainer{
    margin: 6px;
    text-align: center;
}

.EventFilterContainer h2{
    text-align: left;
}

.EventFilterContainer .ui.grid{
    /*margin-top: -2rem;*/
    text-align: left;
}
