body {
    padding: 10px;
    font-family: sans-serif;
}

/* ---------------------------------------- */
/* ------------    TopNav   -------------- */
/* ---------------------------------------- */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    color: #2196F3;    
    text-align: center;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    float: left;
}

.nav-link:hover {
    color: #064579;
}

/* ---------------------------------------- */
/* ------------    SideNav   -------------- */
/* ---------------------------------------- */
.sidenav {
    width: 100%;
    position: relative;
    left: 10px;
    background: #eee;
    /* overflow-x: hidden; */
    padding: 8px 0;
    z-index: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* ---------------------------------------- */
/* ------------    Toggle    -------------- */
/* ---------------------------------------- */
.checkbox{
    margin: 2px;
}

/* ---------------------------------------- */
/* ------------     Form     -------------- */
/* ---------------------------------------- */
/* TODO: This code does not work...*/
.form-item {
    margin-bottom: 1rem;
}

/* ---------------------------------------- */
/* -------------Circle Button-------------- */
/* ---------------------------------------- */

.circle-button {
    background-color: darkslateblue;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: right;
    margin-right: -17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.circle-button:hover {
    background-color: slateblue;
}

/* ---------------------------------------- */
/* --------  Itinerary: Side Panel -------- */
/* ---------------------------------------- */
.it-panel {
    border-right: 2px solid darkslateblue;
    width: 79%;
}

.it-panel-bkgd {
    background: #eee;
}

.it-date-circ {
    position: initial;
    height: 5rem;
}

.it-date {
    position: relative;
    top: 35%;
    left: 19%;
    height: 5rem;
    font-size: 18px;
}

/* ---------------------------------------- */
/* ------  Itinerary: Event Section ------- */
/* ---------------------------------------- */
.itinerary {
    position: absolute;
    top: 95%;
}

.event-block {
    margin-bottom: 2rem;
}

#event-name {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

.event-detail {
    font-size: 16px;
    line-height: 2em;
}

/* ---------------------------------------- */
/* -------------  Login Block ------------- */
/* ---------------------------------------- */
#login-block, #register-block {
    padding: 20px;
}