body {
    padding: 10px;
    font-family: sans-serif;
}

.container {
    padding: 6px;
}

h1, h2 {
    margin: 6px 6px;
    padding-top: 6px;
}

a {
    color: darkslateblue;
}

a:hover {
    color: slateblue;
}

/* ---------------------------------------- */
/* ------------    TopNav   -------------- */
/* ---------------------------------------- */
#vango-link, #edit-link, #itinerary-link, #login-link {
    color: darkslateblue;
}

#vango-link:hover, #edit-link:hover, #itinerary-link:hover, #login-link:hover {
    color: slateblue;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    color: darkslateblue;
    text-align: center;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    float: left;
}

.nav-link:hover {
    color: slateblue;
}

/* ---------------------------------------- */
/* ------------    SideNav   -------------- */
/* ---------------------------------------- */
.sidenav {
    width: 100%;
    height: 88.5vh;
    position: relative;
    left: 10px;
    background: #eee;
    /* overflow-x: hidden; */
    min-width: 268px;
    min-height: 720px;
    padding: 8px 0;
    z-index: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: darkslateblue;
    display: block;
}

.sidenav a:hover {
    color: slateblue;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* ---------------------------------------- */
/* ------------    Toggle    -------------- */
/* ---------------------------------------- */
.checkbox {
    margin: 2px;
}

.select-button {
    position: absolute;
    top: 650px;
    margin-left: 30px;
    z-index: 1;
}

.price-toggle {
    position: absolute;
    top: 463px;
    margin-left: 148px;
}

/* ---------------------------------------- */
/* ------------     Form     -------------- */
/* ---------------------------------------- */
/* TODO: This code does not work...*/
.form-item {
    margin-bottom: 1rem;
}

/* ---------------------------------------- */
/* -------------Circle Button-------------- */
/* ---------------------------------------- */

.circle-button {
    background-color: darkslateblue;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: right;
    margin-right: -17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
}

.circle-button:hover {
    background-color: slateblue;
}

.circle-button:focus {
    background-color: slateblue;
    box-shadow: 0 0 0 2pt lightblue;
    outline: none;
}

/* ---------------------------------------- */
/* --------  Itinerary: Side Panel -------- */
/* ---------------------------------------- */
.it-panel {
    border-right: 2px solid darkslateblue;
    width: 79%;
}

.it-panel-bkgd {
    background: #eee;
}

.it-date-circ {
    position: initial;
    height: 5rem;
}

.it-date {
    position: relative;
    top: 35%;
    left: 19%;
    height: 5rem;
    font-size: 18px;
}

/* ---------------------------------------- */
/* --------  Itinerary: Map --------------- */
/* ---------------------------------------- */
.it-map {
    display: inline-block;
    height: 50%;
    width: 95%;
    top: 69px;
    position: absolute;
}

/* ---------------------------------------- */
/* ------  Itinerary: Event Section ------- */
/* ---------------------------------------- */
.itinerary {
    position: relative;
    top: 50vh;
    display: inline-block;
}

.event-block {
    margin-bottom: 2rem;
}

#event-name {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

.event-detail {
    font-size: 16px;
    line-height: 2em;
}

/* ---------------------------------------- */
/* ---------    DraggableItems ------------ */
/* ---------------------------------------- */
.DraggableItems ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.DraggableItems ul li {
    background-color: rgba(96, 96, 96, 0);
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: flex-start;
    line-height: 1;
}

.DraggableItems li .drag {
    margin-right: 15px;
    cursor: move;
}

.DraggableItems li .dragBtn {
    height: 4rem;
    margin-right: 10px;
    color: #0c0c0c;
}


/* ---------------------------------------- */
/* ----  Login, Registration Block -------- */
/* ---------------------------------------- */
#login-block, #register-block {
    padding: 20px;
}

.form-section {
    margin-bottom: 13px;
}

.outer {
    width: 100%;
}

.inner {
    display: table;
    margin: 0 auto;
}