body {
    padding: 10px;
    font-family: sans-serif;
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    padding: 6px;
}

.inline {
    display: inline-block;
}

.column {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.column.mapContainerClass {
    padding-left: 0px !important;
}

form.ui.form.email-form {
    margin-bottom: 10px;
}

/* ---------------------------------------- */
/* ------------    TopNav   -------------- */
/* ---------------------------------------- */

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    font-size: 16px;
}

a.ui.button.redirect-to-itinerary {
    font-size: 16px;
    margin-top: 10px;
}

/* ---------------------------------------- */
/* ------------  DatePicker  -------------- */
/* ---------------------------------------- */
.DatePickerContainer {
    max-width: 100%;
}


/* ---------------------------------------- */
/* ------------    Toggle    -------------- */
/* ---------------------------------------- */
.checkbox {
    margin: 2px 0;
}

.ui.toggle.checkbox label {
    padding-left: 3.8rem;
}

/* ---------------------------------------- */
/* ---------------  Home Page ------------- */
/* ---------------------------------------- */
i.icon.info.circle {
    padding-left: 8px;
}

.logo {
    padding: 0px;
}

.ui.action.input {
    margin-bottom: 17px;
    width: 100%;
}

.react-calendar, .react-calendar *{
    border-radius: .28571429rem;
}
.react-calendar__tile.react-calendar__month-view__days__day {
    font-size: 14px;
    padding: 7px;
}

.react-calendar__navigation > button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__label {
    margin: 0px !important;
    min-width: 26px !important;
    padding: 0px !important;
}

.react-calendar__navigation {
    margin-bottom: 0px !important;
}

.react-calendar__tile:disabled,
.react-calendar__navigation button[disabled] {
    border-radius: 0px;
}


.filter-margin, #filter-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Side Panel */
.item.item {
    font-size: 16px;
}

/* Home Page: Play Button */
i.caret.square.right.large.icon.next-button {
    float: right;
    margin: -3px;
}

.toggles {
    display: inline-block;
}

/* ---------------------------------------- */
/* -----------  Edit: Side Panel ---------- */
/* ---------------------------------------- */
.edit-panel, .home-panel {
    margin-top: 24px;
    margin-left: 24px;
}

/* ---------------------------------------- */
/* --------  Itinerary: Side Panel -------- */
/* ---------------------------------------- */
.it-date {
    font-size: 16px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
    color: white;
}

/* ---------------------------------------- */
/* ------  Itinerary: Event Section ------- */
/* ---------------------------------------- */
#it-list {
    display: inline-block;
    margin-top: 10px;
    margin-left: 65px;
}

#it-date-toggle {
    display: inline-block;
    margin-top: 20px;
}

button.ui.button.it-edit {
    background: none;
}

#itinerary-name {
    display: block;
    margin-top: 24px;
    margin-left: 24px;
}

.it-header {
    vertical-align: bottom;
    display: inline-block;
}

.event-block {
    margin-bottom: 2rem;
}

#event-name {
    font-weight: bold;
    font-size: 20px;
}

.event-detail {
    font-size: 16px;
    line-height: 2em;
}

/* ---------------------------------------- */
/* ---------    DraggableItems ------------ */
/* ---------------------------------------- */
.DraggableItems ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.DraggableItems ul li {
    /*background-color: rgba(96, 96, 96, 0);*/
    padding: 5px 15px;
    position: relative;
    display: flex;
    align-items: flex-start;
    line-height: 1;
}

.DraggableItems li .drag {
    margin-right: 15px;
    cursor: move;
}

.DraggableItems li .dragBtn {
    height: 4rem;
    margin-right: 10px;
    color: #0c0c0c;
}

/*font size of the draggable item*/
.ui.label.DraggableItem {
    font-size: 1.1rem;
}


/* ---------------------------------------- */
/* ----  Login, Registration Block -------- */
/* ---------------------------------------- */
#login-block, #register-block {
    margin-top: 3%;
    padding: 20px;
}

.form-section {
    margin-bottom: 13px;
}

.outer {
    width: 100%;
}

.inner {
    display: table;
    margin: 0 auto;
}

/* ---------------------------------------- */
/* ---- ToggleDrawer (Event, Itinerary) --- */
/* ---------------------------------------- */
.trash.icon:active {
    transform: translateY(2px);
}

i.trash.icon {
    float: right;
    margin: 0 0 0 .5rem;
}

/* ---------------------------------------- */
/* ----    EventFilterContainer    -------- */
/* ---------------------------------------- */
.EventFilterContainer {
    margin: 6px;
    text-align: center;
}

.EventFilterContainer h2 {
    text-align: left;
}

.EventFilterContainer .ui.grid {
    /*margin-top: -2rem;*/
    text-align: left;
}

/* ---------------------------------------- */
/* -----    SearchBar             ----------*/
/* ---------------------------------------- */
/* limit the result length */
/* https://github.com/Semantic-Org/Semantic-UI-React/issues/946#issuecomment-336258518 */
.search .results {
    overflow-y: auto;
    max-height: 400px;
}

.SearchBarContainer{
    margin-bottom: 15px;
}

.emailFormItin {
    width: 70%;
    position: absolute;
    left: 14%;
    padding: 0px 0px 25px 0px;
}

.itinPageScroll {
    overflow-y: auto;
    height: 95vh;
}

/* ---------------------------------------- */
/* --- Dimmer on the Homepage Calendar -----*/
/* ---------------------------------------- */
.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    border-radius: .28571429rem;
}


/* ---------------------------------------- */
/* --- Questions Button on the Homepage Calendar -----*/
/* ---------------------------------------- */
#info-btn{
    float: right;
}

.ui.card.infoWindowContent{
    overflow: hidden;
    border-radius: 0;
}
