body {
    padding: 10px;
    font-family: sans-serif;
}

/* ---------------------------------------- */
/* ------------    SideNav   -------------- */
/* ---------------------------------------- */
.sidenav {
    width: 100%;
    position: relative;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* ---------------------------------------- */
/* ------------    Toggle    -------------- */
/* ---------------------------------------- */
.checkbox{
    margin: 2px;
}

/* ---------------------------------------- */
/* ------------    Ratings   -------------- */
/* ---------------------------------------- */
.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('star-off.svg');
    background-size : contain;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
