/* https://stackoverflow.com/a/54480909 */
.customDatePickerWidth,
.customDatePickerWidth > div.react-calendar,
.customDatePickerWidth > div > div.react-calendar__navigation{
    width: 100%;
    border-top-color: rgba(34, 36, 38, 0.15);
    border-bottom-color: rgba(34, 36, 38, 0.15);
    border-right-color: rgba(34, 36, 38, 0.15);
    border-left-color: rgba(34, 36, 38, 0.15);
}


.react-calendar__tile--active {
    background: #ffffff;
    color: rgba(0,0,0,.87);
}
